---
title: Jordan Girdis Kiteboarding
---

#oldbackground
#background style="background-image: url('./images/12.jpg')"

ul#nav
	li#link-about
		a  href="#about" 
			i.fa.fa-user
			|  About
	li#link-results
		a  href="#results" 
			i.fa.fa-trophy
			|  Results
	li#link-sponsors
		a  href="#sponsors" 
			i.fa.fa-thumbs-up
			|  Sponsors
	li#link-media
		a  href="#media" 
			i.fa.fa-camera
			|  Media
	li#link-followme
		a  href="#followme" 
			i.fa.fa-rss
			|  Follow me

.section#home style="background-image: url('./images/12.jpg')"

	#title JORDAN GIRDIS
	#subtitle AUSTRALIAN KITERACING TEAM
 

.section#about style="background-image: url('./images/16.jpg')"
	article#article-about.column.left.hidden
		h2 About me
		p
			img src="./images/jordan.jpg" width="150" style="float:left; margin: 0 10px 10px 10px"
			| Born in Sydney, Australia in 1993, I grew up sailing on windsurfers, dinghies and bigger yachts. Enjoying speed and challenges, I started racing in regattas all over the East coast of Australia.
		p I discovered kitesurfing in 2009 and immediately got hook to this exhilarating sport. As kiteracing took off in the last couple of years, I have found myself spending more and more time on my raceboard trying to go as fast as possible. I have been competing in various kite racing events around the world and recently started riding on hydrofoil as well.


.section#results style="background-image: url('./images/podium.jpg')"
	article#article-results.column.left.hidden
		img src="./images/logos/ika.png" width="250"
		p 2nd Silver Flight Oceanic Championships 2013
		p 9th Sail Melbourne 2013
		p 26th Gold Flight Kiteracing World China 2013
		p 1st Sail Brisbane 2013
		p 6th Sail Auckland 2013
		p 5th KTA China 2013
		img src="./images/logos/kiteboardingaustralia.png" width="250"
		p 5th Lighthouse to Leighton 2013
		p 2st Australian Foil Racing 2014

.section#sponsors style="background-image: url('./images/1.jpg')"
	article#article-sponsors.column.left.dark.hidden
		h2
			a.sponsor href="http://www.kitepower.com.au" target="_blank" alt="Kitepower Australia"
				img src="./images/logos/kitepower.png"
		p Kitpower is Sydney's leading kitesurfing shop. They've supported me since the beginning and provide me with the best gear to kill it on the water!
		h2
			a.sponsor href="http://www.flyozone.com/" target="_blank" alt="Ozone Kites"
				img src="./images/logos/ozone.png"
		p My Ozone Edges go fast and high!
		h2
			a.sponsor href="http://www.zhik.com/" target="_blank" alt="Zhik"
				img src="./images/logos/zhik.png"
		p High Performance Sailing Wear
     
.section#media style="background-image: url('./images/media.jpg')"
	article#article-media.column.left.hidden
		h2 Latest videos
     	#badge.vimeo
			script src="https://vimeo.com/user9963611/badgeo/?script=1&badge_layout=vertical&badge_quantity=4&badge_size=160&badge_stream=all&show_titles=yes"
		p
			a href="https://vimeo.com/user9963611/videos/all/sort:date" target="_blank"
				i.fa.fa-plus
				|  See more

.section#followme style="background-image: url('./images/follow.jpg')"
	article#article-followme.column.left.hidden
		iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fjordan.girdis&amp;width=400&amp;height=400&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 100%; height:400px;" allowTransparency="true"